{% extends "site_base.html" %}

{% block body%}
<link href="/static/css/danes.css" rel="stylesheet" type="text/css">
<table>
<tr>
<td>
<div>
<img id="logo" src="/static/img/logo.jpg">
</div>
</td>
<td>
<div id="top">
<h1>Junior Danes </br> Baseball Academy</h1>
</div>
</td>

<tr>
<td id="menu">
<a href="/" class="classname">Home</a>
<a href="/summer/" class="classname">Summer Camps</a>
<a href="/showcases/" class="classname">Showcases</a>
<a href="/winter/" class="classname">Winter Camps</a>
</td>
<td id="body">
{% block main %}{% endblock %}
</br></br>
<div class="center">Questions? Please Contact our Office at 442-3337 or contact Coach Jeff Kaier at jkaier@albany.edu.</div>
</td>
</tr>
</table>

{% endblock %}
