{% extends "base.html" %}

{% block title %} Clinics {% endblock %}

{% block main %}
<div id="heading">Junior Danes Baseball Academy Presents:</div>

<h2>Hitting and Pitching/Defensive Clinics</h2>

<div>
Our hitting clinics are held on Sundays at 6PM, with Defensive/Pitching clincs at 7pm. The dates are 12/2, 12/9, 12/23, 1/13 and 1/20. The clinics are open for players from 6-18 years of age.</div>
<h4>Hitting Students can expect:</h4>
<li>One on one hitting instruction with our coaching staff</li>
<li>Breaking down all aspects of your swing</li>
<li>Drills that we use with our Division 1 hitters</li>
<li>Drills that can be done both indoors and out</li>
<li>Preparation for your upcoming season</li>
<li>Tips and ideas to make you a better hitter</li>
<li>And Much More!</li>
</br>
<div>
NEW: For the first time Junior Danes Baseball Academy is offering <strong>defensive clinics</strong> in addition to hitting clincs.
They will be held from 7pm-8pm on the select dates. These are designed for all positional players
<strong>including pitchers</strong>. Pitchers will be given access to our indoor pitching mounds, with instruction
from our coaching staff. Infielder and Outfielder sessions will be held in our bubble facility, which is big
enough for a full infield and for fly balls!</div>
<h4>Defensive Students/ Position Players can expect:</h4>
<li>Proper stretching and throwing techniques</li>
<li>Ground Balls and Fly Balls</li>
<li>Taking Infield/Outfield</li>
<li>Fielding Games</li>
<li>Proper Fielding techniques</li>
<li>Situational defensive knowledge</li>
<li>Preparation for your upcoming season</li>
<li>And Much More!</li>

<h4>Pitchers can expect:</h4>
<li>Proper stretching and throwing specifically geared towards pitchers</li>
<li>Long toss programs that we use with our pitchers</li>
<li>Bullpens off our indoor mounds</li>
<li>Breaking down of your mechanics</li>
<li>Drills to make you the best pitcher you can be</li>
<li>Drills that you can do indoors</li>
<li>Tips and recommendations from our coaching staff</li>
<li>And Much More!</li>
</br>
<div>
Our facilities allow for players to have an experience as close to live baseball as possible in the
Northeast. There are a set number of players we can have in each hitting/defensive session so space is
limited. Players have the option to register for the hitting clinics only, the defensive/pitching clinics only,
or both. 
<div>

<h2>To Register:</h2>
 <li><a class="text" href="/clinics/register/">Register online using your credit card</a></li>
 </br>-- OR --</br></br>
<li><a class="text" href="/static/img/clinic_form.pdf">Fill out this form and mail it to our office to pay by check</a></li>
{% endblock %}
