{% extends "base.html" %}
{% block title %} Junior Danes Baseball Academy {% endblock %}
{% block main %}

<div>
Junior Danes Baseball Academy is entering its second year of offering camps, clinics, and showcases. All events are staffed by University at Albany Coaches, Current UAlbany Players, and Former UAlbany Players (several whom have played professionally). Our events through the year
are designed to provide hands-on knowledge of all aspects of the game. Our aim is to use a safe, fun
environment to accomplish this. In addition to Varsity Field, we have our indoor facilities, including a
gym with batting cages and indoor mounds, and a bubble facility, big enough for a full infield.
</div>
</br>
<div>
All camps and clinics are directed by Assistant Coach <a class="text" href="http://www.ualbanysports.com/ViewArticle.dbml?DB_OEM_ID=15800&ATCLID=205404173">
Jeff Kaier</a>. Kaier is in his second
year on the staff after finishing his playing career with the Great Danes in 2009. Please contact him with any
questions.
</div>

<h2>Upcoming Events from the Junior Danes Baseball Academy:</h2>

<h3>October Prospect Showcase</h3>
Our four showcases throughout the year give high school athletes a chance to show their talents in a scheduled workout format.
The format includes a full batting practice, infield/outfield, and full charted bullpens for pitchers. Our upcoming showcase will 
be held on October 28th at 11AM on Varsity Field at UAlbany. <a class="text" href="/showcases/">Click here</a> for more information.

<h3>Hitting and Pitching/Defensive Clinics</h3>

<div>We will be offering our annual hitting clinics starting this year in early December. NEW for this year
are our Pitching and Defense Clinics, which we offer as part of the hitting clinics. <a class="text" href="clinics">Click here</a> for more
information.</div>

<h3>Winter Camp</h3>

<div>Junior Danes Baseball Academy is proud to offer its Annual Winter Camp on December 26th-28th. We
welcome ages 8-18, with all campers being grouped in appropriate age categories. The camp will run
9AM-3PM each day. This camp is designed for all skill levels, from advanced to beginner, our staff is
experienced working with all age ranges and abilities. <a class="text" href="/winter/">Click here</a> for more information.</div>
</br>
<div class="center">NEW: Register online with our secure credit card processing feature!</div>

{% endblock %}
