{% extends "base.html" %}
{% block title %} Junior Danes Baseball Academy {% endblock %}
{% block main %}
<div id="heading">Junior Danes Baseball Academy Presents:</div>
<h2>UAlbany Baseball Prospect Showcase</h2>
August 25th or 26th, 11AM Varsity Field
</br>
</br>

Please <a class="text" href="/showcases/register/">Click Here</a> to register for our showcase, or <a class="text" href="/showcases/">Click Here</a> for more info.

</br></br>

<h2>Summer Baseball Skills Camp</h2>
July 16-20, 9AM-1PM Varsity Field
</br>
</br>
Please <a class="text" href="/register/">Click Here</a> to register for our summer skills camp, or <a class="text" href="/summer/">Click Here</a> for more info.
</br>
</br>
<div class="center">NEW: Register online with our secure credit card processing feature!</div>

{% endblock %}
