{% extends "base.html" %}

{% block title %}UAlbany Baseball Prospect Showcase Registration{% endblock %}

{% block main %}
<script type="text/javascript" src="https://js.stripe.com/v1/"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/stripeHandler.js"></script>

   <h2>UAlbany Baseball Prospect Showcase Registration</h2>
   <div>Registration for this showcase is currently closed. If you would like to participate, please fill out<a class="text" href="/static/img/showcase_form.pdf"> this form</a> and bring it with you to the showcase that you would like to attend. Showcases are scheduled for August 25th and August 26th at 11AM, and the cost is $125. Please make checks payable to Jeff Kaier. </div>

{% endblock %}
