{% extends "base.html" %}

{% block title %} Showcases {% endblock %}

{% block main %}
<div id="heading">Junior Danes Baseball Academy Presents:</div>
<h2>Showcases</h2>
<div>
Our four showcases throughout the year give high school athletes a chance to show their talents in a scheduled workout format.
</div>
</br>
<div>
The format includes: 
<li>60 times</li>
<li>Pitchers: Full, charted bullpens</li>
<li>Full batting practice</li>
<li>Full Infield/Outfield</li>
<li>Catchers: pop times</li>
<li> ...and more!</li>
</div>
</br>
<div>
On average we take one player per showcase onto our roster.
</div>
</br>
<div>
<h3><a class="text" href="/static/img/showcases.pdf">Click here</a> to register for our next showcase!</h3>
</div>
{% endblock %}
