{% extends "base.html" %}

{% block title %} Showcases {% endblock %}

{% block main %}
<div id="heading">Junior Danes Baseball Academy Presents:</div>
<h2>Showcases</h2>
<div>
Our four showcases throughout the year give high school athletes a chance to show their talents in a scheduled workout format.
</div>
</br>
<div>
The format includes: 
<li>60 times</li>
<li>Pitchers: Full, charted bullpens</li>
<li>Full batting practice</li>
<li>Full Infield/Outfield</li>
<li>Catchers: pop times</li>
<li> ...and more!</li>
</div>
</br>
<div>
On average we take one player per showcase onto our roster. We have two upcoming showcases, one on August 25 and another on August 26. Each will be held at 11AM at the UAlbany baseball complex.
</div>
<h2>To Register:</h2>
 <li><a class="text" href="/showcases/register/">Register online using your credit card</a></li>
 </br>-- OR --</br></br>
<li><a class="text" href="/static/img/showcase_form.pdf">Fill out this form and mail it to our office to pay by check</a></li>
{% endblock %}
