{% extends "base.html" %}

{% block title %} Junior Danes Baseball Academy {% endblock %}

{% block main %}
<div id="heading">Junior Danes Baseball Academy Presents:</div>
<h2>Summer Baseball Skills Camp</h2>
 <div>
Join the University at Albany Baseball Coaching staff and current UAlbany players as they host their first annual summer camp, located on the University at Albany Campus.
</div>
  <h4>Camp Amenities</h4>
  <li>Safe and Fun environment for your son or daughter</li>
  <li>Rich Baseball Knowledge and Experience From Camp Workers</li>
  <li>Camp Instruction Appropriate for Player Age and Skill Level</li>
  <li>Emphasis of the day: Each day we will focus on one specific skill essential for continued baseball success</li>
  <li>Rotating Stations to ensure all Baseball Areas are covered</li>
  <li>Five Pitching Mounds</li>
  <li>Awards for Outstanding Camp Participation</li>
  <li>Trainer on Site</li>
  
  <h4> Camp Details </h4>
  <li>Ages 8-12: July 9-13</li>
  <li>Ages 13-18: July 16-20</li>
  <li>Cost: $200</li>
  <li>Both Weeks will run from 9AM-1PM daily</li>
  <li>Space is limited</li>
  <li>Age exceptions can be made for siblings to attend the same week</li>
  <li>Lunch will not be provided</li>
  <li>Team Rates are available</li>

  <h4>Camp Checklist</h4>
  <li>Clothing suitable for activity</li>
  <li>Glove</li>
  <li>Bat (Some will be available)</li>
  <li>Helmet (Some will be available)</li>
  <li>Baseball Cleats or Athletic Shoes</li>
  
  <h4>Meet Camp Director Jeff Kaier</h4>
  <li>Kaier Recently completed his first season as an Assistant Baseball Coach with UAlbany after a four-year playing career with UAlbany</li>
  <li>During his first year the Danes saw significant improvements in the three major statistical areas, Batting Average, Fielding Percentage, and Earned Run Average</li>
  <li>The 2012 squad also broke the school record with 16 conference wins</li> 
  <li>Kaier was a member of the 2007 NCAA Regional Team that captured the America East Championship, the only team in school history to do so</li>
  <li>Kaier led the America East Conference in Pitching Appearances during that season and sits third all-time in UAlbany history in that category</li>
  <li>Prior to Albany, Kaier was the head coach of the Halfmoon Mariners, a AABC affiliate at both the 16U and 18U levels. During his five years the Mariners Summer Program won two state championships and made an appearance in the final four of the mid-atlantic regional in 2009</li>
  <li>Kaier Recieved his Bachelor's Degree in Communications from UAlbany in 2009, and completed his Master's Degree in Education Administration in December of 2011</li>

  <h2><a class="text" href="/static/img/summer_form.pdf">Click Here</a> to register today!</h2>

{% endblock %}
