.classname {
	   -moz-box-shadow:inset 0px 1px 0px 0px #f9eca0;
	   -webkit-box-shadow:inset 0px 1px 0px 0px #f9eca0;
	   box-shadow:inset 0px 1px 0px 0px #f9eca0;
	   background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f0c911), color-stop(1, #f2ab1e) );
	   background:-moz-linear-gradient( center top, #f0c911 5%, #f2ab1e 100% );
	   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0c911', endColorstr='#f2ab1e');
	   background-color:#f0c911;
	   -moz-border-radius:6px;
	   -webkit-border-radius:6px;
	   border-radius:6px;
	   border:1px solid #5d0b83;
	   display:inline-block;
	   color:#5b078c;
	   font-family:arial;
	   font-size:22px;
	   width:178px;
	   font-weight:bold;
	   padding:6px 24px;
	   text-decoration:none;
	   text-shadow:1px 1px 0px #ded17c;
}.classname:hover {
		  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f2ab1e), color-stop(1, #f0c911) );
		  background:-moz-linear-gradient( center top, #f2ab1e 5%, #f0c911 100% );
		  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2ab1e', endColorstr='#f0c911');
		  background-color:#f2ab1e;
}.classname:active {
		   position:relative;
		   top:1px;
}

body
{
	background-color:#5D0B83;
	font-family:georgia,sans-serif;
}


a:link {
       color:black;
       text-decoration:none;
}

a:visited {color:black;}
a:hover {color:purple;}
a:active {color:black;}

a.text{color:blue;
	text-decoration:underline;}

table 
{
}

h1
{
	color:white;
	font-size:2.5em;
}

h2
{
	color:black;
}

h3
{
	color:black;
}

td 
{
	border-radius: 5px;
	vertical-align:top;
	background-color:#5D0B83;
	padding:0px;
}

#body
{
	background-color:white;
	padding:10px;
	width:100%;
	height:1000px;
}

.center
{
	text-align:center;
	font-style:italic;
}
.underlined 
{
	text-decoration:underline;
}

#heading 
{
	font-family:cursive, serif;
}

#logo
{
	height:160px;
	float:left;
}
#top
{
	font-family:sans-serif;
	padding:5px;
	text-align:left;
	background:#5D0B83;
}

#menu
{
	padding:0px;
	text-align:left;
	font-family:sans-serif;
	font-size:1.5em;
	font-weight:bold;
	width:200px;
	background-color:#5D0B83;
}

}
